<h1>Info equipment</h1>
<div class="row">
  <p>
    Equipment number: {{this.equipmentService.equipmentNr}}<br>
    Equipment description: {{this.equipmentService.description}}<br>
    Location: {{this.equipmentService.buildingModal + this.equipmentService.hangar + ' ' + this.equipmentService.departmentModal}}<br>
    Quantity of available products: {{this.equipmentService.frequency}}<br>
  </p>
  <img class="imageClass" [src]="this.equipmentService.imageEquipment" alt="placeholder">
</div>

<div class="row">
  <button type="button" (click)="closeModal('blueprint');" class="buttonCloseModal btn-primary">Close</button>
</div>


