.imageClass{
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonCloseModal {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

