<h2 id="availableEquipmentHeader">Available equipment </h2>

<table class="table">
  <thead class="thead-dark">
  <label>
    <input class="searchEquipment" maxlength="6" [formControl]="searchField" placeholder="equipment name ">
  </label>
  <tr>
    <th scope="col">Equipment Name</th>
    <th scope="col">Location</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let equipmentss of equipmentService.getEquipmentList()"
      [ngClass]="{equipmentCode: equipmentService.checkCode(equipmentss.code)}">

    <td
      *ngIf="equipmentss.userStatus == 'I'  && equipmentss.objectDescription.includes(searchField.value) && showTable">
      {{equipmentss.objectDescription}}
    </td>

    <td
      *ngIf="equipmentss.userStatus == 'I' && equipmentss.objectDescription.includes(searchField.value) && showTable">
      {{equipmentss.building + equipmentss.hangar + " " + equipmentss.department}}
    </td>
  </tr>

  </tbody>
</table>

