<h2>Choose a department</h2>
<div class="wrapbox">
  <ul class="motortypes">
    <li *ngFor="let dept of listDepartments"
        [class.selected]="dept === selectedDept"
        (click)="onSelect(dept)">
      {{dept.name}}
    </li>
  </ul>
</div>

<div *ngIf="selectedDept">
  <h2>Choose a motortype</h2>
  <div class="wrapbox2">

    <div *ngIf="selectedDept">
      <ul class="motortypes">
        <li *ngFor="let motorT of listMotortypes"
            [class.selected]="motorT === selectedMoto"
            (click)="onSelectMotor(motorT)">
          {{motorT.name}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="selectedMoto">

  <table class="table">
    <thead class="thead-dark">
    <div class="wrapsearchfields">

      <label>
        <input id="searchEquipmentNr" [formControl]="searchFieldEquipmentNr"
               (change)="filterOnEquipmentNr(searchFieldEquipmentNr.value)" placeholder="equipment number">
      </label>
      <button class="buttonSearch" (click)="filterOnEquipmentNr(searchFieldEquipmentNr.value)">Search</button>

      <label>
        <input class="searchEquipment" [formControl]="searchFieldEquipment"
               (change)="filterOnEquipmentDescription(searchFieldEquipment.value)" placeholder="equipment description">
      </label>
      <button class="buttonSearch" (click)="filterOnEquipmentDescription(searchFieldEquipment.value)">Search</button>

      <label>
        <input id="searchLocation" [formControl]="searchFieldLocation" placeholder="location">
      </label>
      <button class="buttonSearch" (click)="filterOnEquipmentLocation(searchFieldLocation.value)">Search</button>
    </div>
    <tr>
      <th style="width: 15%">Equipment number</th>
      <th style="width: 70%">Equipment description</th>
      <th style="width: 15%">Location</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let equipmentss of equipmentService.getEquipmentList()"
        [ngClass]="{equipmentCode: equipmentService.checkCode(equipmentss.code)}">
      <td
        *ngIf="equipmentss.userStatus == 'I' && equipmentss.department == selectedDept.name && equipmentss.motortype == selectedMoto.name
        && equipmentss.filterEquipDescr && equipmentss.filterLocation && equipmentss.filterEquipmentNr">
        {{equipmentss.equipmentNr}}
      </td>

      <td
        *ngIf="equipmentss.userStatus == 'I' && equipmentss.department == selectedDept.name && equipmentss.motortype == selectedMoto.name
        && equipmentss.filterEquipDescr && equipmentss.filterLocation && equipmentss.filterEquipmentNr">
        {{equipmentss.objectDescription}}
      </td>


      <td
        *ngIf="equipmentss.userStatus == 'I' && equipmentss.department == selectedDept.name && equipmentss.motortype == selectedMoto.name
        && equipmentss.filterEquipDescr && equipmentss.filterLocation && equipmentss.filterEquipmentNr">
        {{equipmentss.building + equipmentss.hangar + " " + equipmentss.department}}
      </td>
    </tr>

    </tbody>
  </table>

</div>
