<div *ngIf="auth.returncurrentUser() == null">
  <p>Please login to access this list</p>
</div>




<h2 id="generalHeader" *ngIf="auth.returncurrentUser() != null">General list of equipment</h2>

<table class="table" *ngIf="auth.returncurrentUser() != null">
  <thead class="thead-dark">
  <label>
    <input class="searchEquipment" [formControl]="searchField" placeholder="equipment name">
  </label>
  <tr>
    <th scope="col">Equipment Number</th>
    <th scope="col">Location</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let equipmentss of equipmentService.getEquipmentList()"
      [ngClass]="{equipmentCode: equipmentService.checkCode(equipmentss.code)}">

    <td
      *ngIf="equipmentss.objectDescription.includes(searchField.value) && showTable">
      {{equipmentss.objectDescription}}
    </td>

    <td [style.background-color]="equipmentService.color"
        *ngIf=" equipmentss.objectDescription.includes(searchField.value) && showTable">
      {{equipmentss.building + equipmentss.hangar + " " + equipmentss.department}}
    </td>

  </tr>

  </tbody>
</table>
