<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="collapse navbar-collapse" id="navbarNav">-->
<!--    <ul class="navbar-nav" id="myTab" role="tablist">-->

<!--      <li class="nav-item" [routerLinkActive]="['Active']">-->
<!--        <a *ngIf="auth.returncurrentUser()== null " class="nav-link active" id="loginTab" data-toggle="tab"-->
<!--           [routerLink]="['home']" role="tab" aria-controls="login" aria-selected="true">Login<span-->
<!--          class="sr-only">(current)</span></a>-->
<!--      </li>-->

<!--      <li class="nav-item" [routerLinkActive]="['Active']">-->
<!--        <a class="nav-link" id="mechanicTab" data-toggle="tab" [routerLink]="['mechanic']" role="tab"-->
<!--           aria-controls="mechanic" aria-selected="false">Mechanic</a>-->
<!--      </li>-->

<!--      <li class="nav-item" [routerLinkActive]="['Active']">-->
<!--        <a class="nav-link" id="maintenanceTab" data-toggle="tab" [routerLink]="['maintenance']" role="tab"-->
<!--           aria-controls="maintenance" aria-selected="false">Maintenance</a>-->
<!--      </li>-->
<!--      <li class="nav-item" [routerLinkActive]="['Active']">-->
<!--        <a class="nav-link" id="generalTab" data-toggle="tab" [routerLink]="['general']" role="tab"-->
<!--           aria-controls="general" aria-selected="false">General</a>-->
<!--      </li> -->
<!--      <li class="nav-item">-->
<!--        <a *ngIf="auth.returncurrentUser()!= null" class="nav-link" routerLink="home"-->
<!--           (click)="auth.logout()">Logout</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a id="currentUser" *ngIf="auth.returncurrentUser()!= null "-->
<!--           class="nav-link">{{auth.returncurrentUser().email}}</a>-->
<!--      </li>-->

<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->


<!-- Navbar with pill highlights. Still needs to be fixed -->

<!--<ul class="nav nav-pills mb-3 navbar-light bg-light" id="pills-tab" role="tablist">-->

<!--  <li class="nav-item">-->
<!--    <a *ngIf="auth.returncurrentUser() == null" class="nav-link active" id="pills-login-tab" data-toggle="pill"-->
<!--       [routerLink]="['home']" role="tab"-->
<!--       aria-controls="pills-home" aria-selected="true">Login</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" id="pills-mechanic-tab" data-toggle="pill" [routerLink]="['mechanic']" role="tab"-->
<!--       aria-controls="pills-profile" aria-selected="false">Mechanic</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" id="pills-maintenance-tab" data-toggle="pill" [routerLink]="['maintenance']" role="tab"-->
<!--       aria-controls="pills-contact" aria-selected="false">Maintenance</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" id="pills-general-tab" data-toggle="pill" [routerLink]="['general']" role="tab"-->
<!--       aria-controls="pills-contact" aria-selected="false">General</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a *ngIf="auth.returncurrentUser() != null" (click)="auth.logout()" class="nav-link" id="pills-contact-tab"-->
<!--       data-toggle="pill" [routerLink]="['home']" role="tab" aria-controls="pills-contact"-->
<!--       aria-selected="false">Logout</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a id="currentUser" *ngIf="auth.returncurrentUser()!= null "-->
<!--       class="nav-link">{{auth.returncurrentUser().email}}</a>-->
<!--  </li>-->
<!--</ul>-->

<!-- Navbar with tab highlights -->
<!--<nav class="navbar navbar-expand-sm navbar-light bg-light">-->
<!--  <div class="nav nav-tabs" id="nav-tab" role="tablist">-->
<!--    <a *ngIf="auth.returncurrentUser()  == null" class="nav-item nav-link active" id="nav-login-tab" data-toggle="tab"-->
<!--       [routerLink]="['home']" role="tab" aria-controls="nav-home" aria-selected="true">Login</a>-->

<!--    <a class="nav-item nav-link" id="nav-mechanic-tab" data-toggle="tab" [routerLink]="['mechanic']" role="tab"-->
<!--       aria-controls="nav-profile" aria-selected="false">Mechanic</a>-->

<!--    <a class="nav-item nav-link" id="nav-maintenance-tab" data-toggle="tab" [routerLink]="['maintenance']" role="tab"-->
<!--       aria-controls="nav-contact" aria-selected="false">Maintenance</a>-->

<!--    <a class="nav-item nav-link" id="nav-general-tab" data-toggle="tab" [routerLink]="['general']" role="tab"-->
<!--       aria-controls="nav-contact" aria-selected="false">General</a>-->

<!--    <a *ngIf="auth.returncurrentUser() != null" (click)="auth.logout()" class="nav-item nav-link" id="nav-logout-tab"-->
<!--       data-toggle="tab" [routerLink]="['home']" role="tab"-->
<!--       aria-controls="nav-contact" aria-selected="false"-->
<!--       onclick="resetHighlights">Logout</a>-->

<!--    <a id="currentUser" *ngIf="auth.returncurrentUser() != null" class="nav-link">{{auth.returncurrentUser().email}}</a>-->

<!--    <script>-->
<!--      $(document).ready(function () {-->
<!--        $(".nav li.disabled a").click(function () {-->
<!--          return false;-->
<!--        });-->
<!--      });-->
<!--    </script>-->
<!--  </div>-->
<!--</nav>-->
<nav>
  <a *ngIf="auth.returncurrentUser() == null" routerLink="/home" routerLinkActive="active">Login</a>
  <a routerLink="/mechanic" routerLinkActive="active">Mechanic</a>
  <a routerLink="/maintenance" routerLinkActive="active">Maintenance</a>
  <a routerLink="/general" routerLinkActive="active">General</a>
  <a routerLink="/home" *ngIf="auth.returncurrentUser() != null" (click)="auth.logout()" routerLinkActive="active">Logout</a>
  <p id="currentUser" *ngIf="auth.returncurrentUser() != null">{{auth.returncurrentUser().email}}</p>
</nav>

<router-outlet></router-outlet>
