<nav id="navbarId">
  <a *ngIf="auth.returncurrentUser() == null" routerLink="/home" routerLinkActive="active">Login</a>
  <a routerLink="/mechanic" routerLinkActive="active">Mechanic</a>
  <a routerLink="/maintenance" routerLinkActive="active">Maintenance</a>
  <a routerLink="/general" routerLinkActive="active">General</a>
  <a routerLink="/home" *ngIf="auth.returncurrentUser() != null" (click)="auth.logout()" routerLinkActive="active">Logout</a>
  <p id="currentUser" *ngIf="auth.returncurrentUser() != null">{{auth.returncurrentUser().email}}</p>
</nav>

<router-outlet></router-outlet>
