/* You can add global styles to this file, and also import other style files */

/* whole navbar */
nav {
  overflow: hidden;
  border: 1px solid #ccc;
}

/* Style tabs */
nav a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Hovering tab */
nav a:hover {
  background-color: rgb(116,194,234);
  color: white;
}

/* Active tab */
nav a.active {
  background-color: rgb(79,165,219);
  color: black;
}

/* Tab content */
.navlink {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
